@mixin button-disabled()
    button:disabled
        background: #b1b1b1
        color: #fff
        font-weight: bold
        cursor: not-allowed
        &:hover
            background: #b1b1b1
            color: #fff
